* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  background: #191919;
}
// ini adalah
.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  #backBtn,
  #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
  }
  .gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
    div {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      padding: 10px;
      flex: none;
      img {
        width: 100%;
        filter: grayscale(100%);
        transition: 0.5s;
        &:hover {
          filter: grayscale(0);
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
